# Member Registration Streamlit App URL
NEXT_PUBLIC_MEMBER_REGISTRATION_URL=https://www.jaram.net/
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000

# MinIO Image Storage
NEXT_PUBLIC_MINIO_PROTOCOL=http
NEXT_PUBLIC_MINIO_HOSTNAME=localhost
NEXT_PUBLIC_MINIO_PORT=9000
NEXT_PUBLIC_MINIO_BUCKET=jaram-profiles